header {
    /* background-color: aliceblue; */
    padding: 25px 15px;
    margin: 0;
}

header h1 {
    color: rgb(0, 34, 255);
    font-size: 25px;
    font-weight: bold;
    text-shadow: 2.5px 0px #f56708;
    text-transform: uppercase;
}

section ul li {
    display: grid;
    /* background-color: rgb(189, 189, 246); */
}

section ul li a {
    color: #b6049b;
    font-size: 15px;
    font-weight: bold;
    line-height: 35px;
    text-decoration: none;
}

a:hover {
    color: rgb(229, 151, 6);
}